@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

body {
    height: 100vh;
    margin: 0;
    font-family: Roboto, sans-serif;
}

img {
    max-width: 100%;
    height: auto;
}

body {
    display: flex;
    flex-direction: column;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: inherit;
}

a:hover {
    color: lightseagreen;
}

.header {
    display: flex;
    /*border: 4px solid red;*/
    padding: 12px;
    background-color: #1F2937;
    color: white;
}

.imgheader {
    width: auto;
    height: 40px;
}

.header .left-links {
    display: flex;
    margin-right: auto;
    /*border: 4px solid blue;*/
}

.header .right-links {
    display: flex;
    margin-left: auto;
    /*border: 4px solid yellow;*/
}

.gap {
    margin-left: 12px;
}

.allcontent {
    display: flex;
    align-items: stretch;
    flex: 1;
    flex-direction: column;
}

.content1 {
    display: flex;
    align-items: flex-start;
    flex-direction: row-reverse;
    flex: 1;
    /*border: 4px solid purple;*/
    background-color: #1F2937;
    color: white;
}

.content1 .image {
    margin: 5vw;
    max-width: 30%;
    height: auto;

}

.content1header {
    font-size: 25px;
    margin-top: 10vh;
    font-weight: bolder;
}

.content1 .word {
    flex: 1;
    margin-left: 10vw;
    /*border: 4px solid blue;*/
}

.content1 .word .button1 {
    background-color: #3882f6;
    border-radius: 5px;
    color: white;
    border: none;
}

#header2 {
    display: flex;
    justify-content: center;
    font-size: 36px;
    color: #1F2937;
    font-weight: bolder;
}

.content2 {
    display: flex;
    flex: 1;
    /*border: 4px solid green;*/
    padding-left: 10%;
    padding-right: 10%;
    margin-bottom: 5vh;
}

.content2 .img {
    display: flex;
    flex: 1;
    align-items: flex-start;
    /*border: 2px solid lightgray;
    border-radius: 10px;*/
    margin-left: 10px;
    flex-direction: column;
}

.content2 .img .image {
    display: flex;
    align-self: center;
}

.quote {
    display: flex;
    flex: 1;
    flex-direction: column;
    /*border: 4px solid orange;*/
    background-color: #e5e7eb;
    color: #1F2937;
    font-size: 36px;
}

.quote .center {
    display: flex;
    justify-content: center;
    font-style: italic;
}

.quote .push-right {
    display: flex;
    margin-left: 50vw;
}

.signup {
    display: flex;
    flex: 1;
    /*border: 4px solid purple;*/
    align-items: center;
    color: white;
    padding: 10vh 0 10vh 0;
}

.signup .rcorner1 {
    display: flex;
    flex: 1;
    border-radius: 20px;
    background: #3882f6;
    padding: 50px;
    height: 50px;
    width: 50%;
    align-items: center;
    margin-left: 15vw;
    margin-right: 15vw;
    
}

.signup .rcorner1 .push-right{
    margin-left: auto;
    background: #3882f6;
    color: white;
    border-radius: 5px;
    text-align: center;
    text-decoration: none;
}

.signup .rcorner1 .signupbold {
    font-size: 25px;
    font-weight: bolder;
}

.footer {
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    /*border: 4px solid blue;*/
    background-color: #1F2937;
    color: white;
    padding: 5vh;
}