body {
    height: 100vh;
    margin: 0;
}

body {
    display: flex;
    flex-direction: column;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.header {
    display: flex;
    border: 4px solid red;
    padding: 12px;
}

.header .left-links {
    display: flex;
    margin-right: auto;
    border: 4px solid blue;
}

.header .right-links {
    display: flex;
    margin-left: auto;
    border: 4px solid yellow;
}

.gap {
    margin-left: 12px;
}

.allcontent {
    display: flex;
    align-items: stretch;
    flex: 1;
    flex-direction: column;
}

.content1 {
    display: flex;
    align-items: flex-start;
    border: 4px solid purple;
}

.content1 .word {
    flex: 1;
    padding: 4px;
    border: 4px solid blue;
}

#header2 {
    display: flex;
    flex: 1;
    justify-content: center;
}

.content2 {
    display: flex;
    flex: 1;
    border: 4px solid green
}

.content2 .img {
    display: flex;
    flex: 1;
    align-items: flex-start;
    border: 4px solid red;
    flex-direction: column;
}

.quote {
    display: flex;
    flex: 1;
    flex-direction: column;
    border: 4px solid orange;
}

.quote .center {
    display: flex;
    justify-content: center;
}

.quote .push-right {
    display: flex;
    margin-left: 500px;
}

.signup {
    display: flex;
    flex: 1;
    border: 4px solid purple;
}

.signup .rcorner1 {
    display: flex;
    flex: 1;
    border-radius: 25px;
    background: lightblue;
    padding: 20px;
    width: 200px;
    height: 150px;
    align-items: center;
}

.push-right{
    margin-left: auto;
}

.footer {
    display: flex;
    flex-shrink: 0;
    border: 4px solid blue;
}